<div class="container-fluid">
    <p class="nombre">{{respuesta.first_name[0] | uppercase}}{{respuesta.last_name[0] | uppercase}}</p>
    <h1>{{respuesta.first_name}} {{respuesta.last_name}}</h1>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Detalles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Eventos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Proyectos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Tareas</a>
    </li>
</ul>